node_modules
dist
.build
.cache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (optional but safer)
.env

# OS / misc
.DS_Store
Thumbs.db

# git
.git
.gitignore

# editor
.vscode
.idea